body {
  height: 250vh; 
  overflow-x: hidden;
  scrollbar-width: thin; 
  scrollbar-color: #ccc #fff;
}
::-webkit-scrollbar { 
  width: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 5px;
}
::-webkit-scrollbar-track {
  background-color: #fff;
}

.container {
  display: flex;
  cursor: pointer;
}

.cabecalho-menu {
  display: flex;
  gap: 42px;
}

.cabecalho-menu-item {
  position: relative;
  left: 50vh;
  font-family: 'Lato', sans-serif;
  color: #FFF2E7;
  margin-top: 10px;
  font-weight: 400;
  font-size: 18px
  
}  

.cabecalho-avatar {
  position: relative;
  left: 58vh;
  padding: 1%;
  height: 45px;
  right: 10px;
}

.cabecalho-sino {
  position: relative;
  left: 58vh;
  padding: 1%;
  height: 45px;
  right: 10px;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: right;
  justify-content: space-around;
  padding: 4px;
  background-color: #37853c;
  height: 0;
}

.menu-botton {
  font-size: 25px;
  margin-top: 8px;
  color: white;
}

.title-container {
  position: absolute;
  top: 18vh; 
  right: 76%; 
  transform: translateX(50%); 
  width: 30vw; 
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.title-container img {
  width: 30vw; 
  height: auto;
}

.objetivo-container {
  display: flex;
  position: absolute;
  top: 35vh; 
  right: 75%; 
  transform: translateX(50%); 
  flex-direction: column;
  align-items: right;
  justify-content: left;
  color: #000000;
}

.objetivo-container h1 {
  font-size: 6rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-bottom: 1rem;
}

.objetivo-container p {
  font-size: 1.9rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: left;
  max-width: 30rem;
}

.sub-title {
  display: flex;
  position: absolute;
  top: 100vh;
  right: 50%;
  transform: translateX(50%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000000;
}

.sub-title h2 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 4rem;
}

.tablet-screen {
  position: absolute;
  width: 6ch;
  height: 60%;
  padding: 4rem;
  background-color: #ededed;
  border-radius: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
}

.tablet-screen h3,
.tablet-screen h4 {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 155%;
  position: static;
  margin-top: 0;
  margin-bottom: 1rem;
}

.app-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  padding: 1rem;
}

.app-icon img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
  margin-bottom: 0.5rem;
}

.app-icon p {
  margin-top: 0.5rem;
  font-size: 0.8rem;
}

.figure-container {
  max-width: 60%;
  height: auto;
}

.figure-container img {
  max-width: 60%;
  height: auto;
  filter: grayscale(100%);
  position: absolute;
  top: 25vh;
  left: 55rem;
  right: 45rem;
}

@media (max-width: 768px) {
  .title-container {
     width: 30vw; 
     height: 30px; 
   }
  .title-container img {
     width: 30vw; 
   }
 }
 
 @media (max-width: 480px) {
  .title-container {
     width: 40vw; 
     height: 40px; 
   }
  .title-container img {
     width: 40vw; 
   }
 }
 
 @media screen and (max-height: 1020px) {
 .overlay a {font-size: 20px}
 .overlay .closebtn {
 font-size: 40px;
 top: 15px;
 right: 35px;
 }
 }
 
 @media (max-width: 768px) {
   .overlay-content {
     top: 15%; 
   }
   .overlay a {
     font-size: 24px; 
   }
   .overlay .closebtn {
     font-size: 40px; 
   }
 }
 
 @media (max-width: 480px) {
   .overlay-content {
     top: 10%; 
   }
   .overlay a {
     font-size: 18px; 
   }
   .overlay .closebtn {
     font-size: 30px; 
   }
 }
 
 @media (max-width: 768px) {
   .avatar {
     right: 5px; 
   }
   .menu-botton {
     font-size: 20px; 
   }
 }
 
 @media (max-width: 480px) {
   .avatar {
     display: none; 
   }
   .menu-botton {
     font-size: 18px; 
   }
 }
 
 @media (max-width: 768px) {
   .objetivo-container {
     padding: 1%;
   }
 
   .objetivo-container h1 {
     font-size: 3rem;
     left: 85%;
   }
 
   .objetivo-container p {
     font-size: 100%;
     left: 85%;
   }
 }
 
 @media (max-width: 768px) {
  .sub-title {
    position: relative;
    top: 100vh;
    right: 0;
    left: 0;
    text-align: center;
    transform: none;
  }

  .sub-title h2 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 768px) {
  .tablet-screen {
    position: relative;
    width: 80%;
    height: 30%;
    right: 9rem;
    left: 10rem;
    top: 92rem;
    font-size: 1.2rem;
    grid-template-columns: repeat(2, 3fr);
  }

  .app-icon img {
    width: 250px;
    height: 250px;
  }
}

@media screen and (min-width: 1024px) {
  .tablet-screen {
    font-size: 1.5rem;
    width: 60%;
    height: 70%;
    position: absolute;
    left: 20%;
    right: 10%;
  }

  .app-icon img {
    width: 300px;
    height: 300px;
  }
}

@media screen and (min-width: 1440px) {
  .tablet-screen {
    font-size: 2rem;
  }

  .app-icon img {
    width: 400px;
    height: 400px;
  }
}

