* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, Apple System, Helvetica Neue, Segoe UI, Arial, Lato e Sans Serif;
}

/*EDIÇÃO CABEÇALHO*/
header {
    background-color: #37853c;
    padding: 20px;
    text-align: center;
    color: #fff;
}
.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: #37853c;
    height: none
}
.cabecalho-logo {
    height: 40px;
}

.cabecalho-menu {
    display: flex;
    gap: 40px;
}
/*BOTÕES DE NAVEGAÇÃO*/
.cabecalho-menu-item {
    font-family: 'Lato', sans-serif;
    color: #FFF2E7;
    margin-top: 10px;
    font-weight: 400px;
    font-size: 18px;
    text-decoration: none;
}

.cabecalho-avatar {
    height: 50px;
}

.cabecalho-sino {
    height: 50px;
}

/* CORES DE FUNDO E COR DO TEXTO GERAL*/
body {
    color: #000000;
    background: #f9f9f9;
}

/* SUBTITLO MEU PROGRESSO*/
.sub-title {
    text-align: center;
    font-size: 60px;
    padding-bottom: 20px;
    padding-top: 20px;
    display: center;
}

/* MODIFICAR SEGUNDA PALAVRA DO SUBTITULO*/
.sub-title span {
    color: #37853c;

}

/* SEÇÃO DE CONTEÚDO - MUDA O ALINHAMENTO GERAL*/ 
.section {

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

/* CONTAINER DAS BARRAS E CONTEÚDO */
.container1 {

    height: 30rem;
    padding: 10px 0px;

}

/* TAMAMHO E MARGEM DOS ICONES */
.icone {
    width: 40px;
    height: 40px;
    margin-bottom: 30px;
}

/* ELEMENTO DE ICONE ALTERNATIVO VIA BOXICONS */
.bar {
    font-size: 0px;


}

/* BARRA DE PROGRESSO INFERIOR */
.Techinical-bars {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* BARRA DE PROGRESSO SUPERIOR*/
.Techinical-bars .bar {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}


.Techinical-bars .bar:first-child {
    margin-top: 0;
}

.Techinical-bars .bar:last-child {
    margin-bottom: 10px;
}

/* INDICADOR DO DESAFIO */
.Techinical-bars .bar .indfo {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
}

/* ANIMAÇÃO DAS BARRAS DE PROGRESSO - CUIDADO */
.Techinical-bars .bar .info span {
    font-size: 15px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}
/* ANIMAÇÃO BARRA INICIAL ESCURA*/
.Techinical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 32rem;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}
.cabecalho-avatar {
    height: 50px;
    border-radius: 80%;
    }

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}
/* ANIMAÇÃO BARRA SECUNDARIA CLARA */
.Techinical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}
/* APRESENTAÇÃO ESTATICA DA BARRA DE PROGRESSO */
.progress-line.corrida span {
    width: 0%;
}

.progress-line.memorizacao span {
    width: 0%;
}

.progress-line.meditacao span {
    width: 0%;
}


/* ANIMAÇÃO DA CAIXA DA LEGENDA DA BARRA DE PROGRESSO */
.progress-line span::after {
    position: absolute;
    padding: 2px 8px;
    background-color: #37853c;
    color: #fefefe;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}

/* MODIFICA A LEGENDA ESTATICA DA BARRA DE PROGRESSO */
.progress-line.corrida span::after {
    content: "0/30";
}

.progress-line.memorizacao span::after {
    content: "0/30";
}

.progress-line.meditacao span::after {
    content: "0/30";
}



.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #37853c;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;



}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}

/* COMPLEMENTO MOTIVACIONAL */
.motivacao {

    text-align: justify;
    padding-top: 20px;
    font-size: 14px;

}

/* RODAPÉ */
footer {
    background-color: #37853c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #FFF2E7;
    padding: 0.2px;
}