body {
    font-family: Arial, sans-serif;
    margin: 0;
    border: 0;
    text-align: center;
   }

header, footer {
    background-color: #37853c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: #37853c;
    height: none

    }
  
    .cabecalho-logo {
    height: 40px;
    }
  
    .cabecalho-menu {
    display: flex;
    gap: 32px;
    }
  
    .cabecalho-menu-item {
    font-family: 'Lato', sans-serif;
    color: #FFF2E7;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px
    }  
  
    .cabecalho-avatar {
    height: 50px;
    }
  
    .cabecalho-sino {
    height: 50px;
    }

main {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    }

.desafio {
    margin-bottom: 20px;
    border: 0px solid #ccc;
    padding: 10px;
    text-align: center;
    
}

#icone {
    width: 40px;
    height: 40px;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.concluir {
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.nao-concluir {
    background-color: #840d05;
    color: #fff;
    border: none;
}

footer {
    background-color: #37853c;
    padding: 10px;
    text-align: center;
}

.progresso {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    background-color: #fff;
    margin-left: 700px  ;
    background: repeating-conic-gradient(
        from 0deg,
        #ff264a 0deg 60deg,
        #2a26ff 60deg 120deg,
        #f7f305 120deg 180deg,
        #ff28ba 180deg 240deg,
        #26ff26 240deg 300deg,
        #ff8f26 300deg 360deg
    );
    

    
}
.progresso-dos-desafios h1{
    font-size: 30px;
    text-transform: uppercase;
    margin-left: 600px;
   
}


    

    
    
