* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, -apple-system, 'Helvetica Neue', 'Segoe UI', Arial, sans-serif;
}


header {
    background-color: #37853c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: #37853c;
    height: none
}

.cabecalho-logo {
    height: 40px;
}

.cabecalho-menu {
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item {
    font-family: 'Lato', sans-serif;
    color: #FFF2E7;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px
}

.cabecalho-avatar {
    height: 50px;
}

.cabecalho-sino {
    height: 50px;
}

body {
    color: #000000;
    background: #f9f9f9;
}

.sub-title {
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.sub-title span {
    color: #37853c;
}

.section1 {
    display: flex;
    flex-direction: row;
}

.container2 {
    width: 600px;
    height: 350px;
    padding: 5px 40px;
    margin-left: 100px;
    display: auto;

}

.desafio {
    margin-bottom: 10px;
    border: 0px solid #ccc;
    padding: 10px;
    text-align: center;
    font-size: 13px;

}


.buttons {
    margin-top: 10px;
}

button {
    padding: 5px 15px;
    margin-right: 10px;
    cursor: pointer;
    margin-bottom: 0;
}

.concluir {
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.nao-concluir {
    background-color: #840d05;
    color: #fff;
    border: none;
}



.container1 {
    width: 500px;
    height: 400px;
    padding: 10px 40px;
    margin-left: 150px;
    display: auto;

}

.heading {
    text-align: center;
    text-decoration: underline;
    text-underline-offset: 5px;
    text-decoration-thickness: 5px;
    margin-bottom: 10px;
    margin-top: 0;
    font-size: 20px;
}

.bar {
    font-size: 15px;

}

.Techinical-bars .bar {
    margin: 30px 0;
}

.Techinical-bars .bar:first-child {
    margin-top: 0;
}

.Techinical-bars .bar:last-child {
    margin-bottom: 10px;
}

.Techinical-bars .bar .info {
    margin-bottom: 10px;
    font-size: 15px;
}

.Techinical-bars .bar .info span {
    font-size: 15px;
    font-weight: 500;
    animation: showText 0.5s 1s linear forwards;
    opacity: 0;
}

.Techinical-bars .bar .progress-line {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 5px;
    background-color: #000000;
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;
}

@keyframes animate {
    100% {
        transform: scaleX(1);
    }
}

.Techinical-bars .bar .progress-line span {
    height: 100%;
    background-color: #0ef;
    position: absolute;
    border-radius: 10px;
    animation: animate 1s 1s cubic-bezier(1, 0, 0.5, 1) forwards;
    transform: scaleX(0);
    transform-origin: left;

}

.progress-line.fisico span {
    width: 100%;
}

.progress-line.hidratacao span {
    width: 80%;
}

.progress-line.alimentacao span {
    width: 85%;
}

.progress-line.leitura span {
    width: 80%;
}

.progress-line.mental span {
    width: 75%;
}

.progress-line.pessoal span {
    width: 70%;
}

.progress-line span::after {
    position: absolute;
    padding: 1px 8px;
    background-color: #37853c;
    color: #fefefe;
    font-size: 12px;
    border-radius: 3px;
    top: -28px;
    right: -20px;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;

}


.progress-line.fisico span::after {
    content: "100%";
}

.progress-line.hidratacao span::after {
    content: "80%";
}

.progress-line.alimentacao span::after {
    content: "85%";
}

.progress-line.leitura span::after {
    content: "80%";
}

.progress-line.mental span::after {
    content: "75%";
}

.progress-line.pessoal span::after {
    content: "70%";
}

.progress-line span::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-bottom-width: 0px;
    border-right-width: 0px;
    border-top-color: #37853c;
    top: -10px;
    right: 0;
    animation: showText 0.5s 1.5s linear forwards;
    opacity: 0;



}

@keyframes showText {
    100% {
        opacity: 1;
    }
}

.radial-bars {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

.radial-bars .radial-bar {
    width: 50%;
    height: 170px;
    margin-bottom: 10px;
    position: relative;
}

.radial-bars .radial-bar svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-90deg);
    width: 120px;
    height: 160px;
}

.radial-bars .radial-bar .progress-bar {
    stroke-width: 10;
    stroke: #000;
    fill: transparent;
    stroke-dasharray: 502;
    stroke-dashoffset: 502;
    stroke-linecap: round;
    animation: animate-bar 1s linear forwards;

}

@keyframes animate-bar {
    100% {
        stroke-dashoffset: -1;
    }
}



footer {
    background-color: #37853c;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #FFF2E7;
    padding: 0.2px;
}