body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #37853c;
    padding: 20px;
    text-align: center;
    color: #fff;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 4px;
    background-color: #37853c;
    height: none

    }
  
    .cabecalho-logo {
    height: 40px;
    }
  
    .cabecalho-menu {
    display: flex;
    gap: 32px;
    }
  
    .cabecalho-menu-item {
    font-family: 'Lato', sans-serif;
    color: #FFF2E7;
    margin-top: 10px;
    font-weight: 400;
    font-size: 18px
    }  
  
    .cabecalho-avatar {
    height: 50px;
    }
  
    .cabecalho-sino {
    height: 50px;
    }

main {
    padding: 20px;
}

.desafio {
    margin-bottom: 20px;
    border: 0px solid #ccc;
    padding: 10px;
    text-align: left;
    
}

#icone {
    width: 40px;
    height: 40px;
}

.buttons {
    margin-top: 10px;
}

button {
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
}

.completo {
    background-color: #4caf50;
    color: #fff;
    border: none;
}

.não-completo {
    background-color: #840d05;
    color: #fff;
    border: none;
}

footer {
    background-color: #37853c;
    padding: 10px;
    text-align: center;
}

#Chart {
    width: 200px;
    height: 200px;
    margin: 0 auto ;
    border-radius: 50%;
    background-color: #e0e0e0;
    display: flex;
      
}

